<footer th:fragment="footer" class="bg-secondary text-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <h5>RENT CAR</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Search Cars and Rates</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>CUSTOMER ACCESS</h5>
                <ul class="list-unstyled">
                <li><a href="#" class="text-light">Manage My Booking</a></li>
                <li><a href="#" class="text-light">My Wallet</a></li>
                <li><a href="#" class="text-light">My Car</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>JOIN US</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">New User Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-light text-dark text-center py-3">
        <p class="mb-0">&copy; 2024 Your Company. All rights reserved.</p>
    </div>
</footer>