<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="fas fa-car"></i>
            RentN'Go
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#why-us-section">ABOUT US</a>
                </li>
                <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
                    <!-- Content for authenticated users -->
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                </li>
                <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#signupModal">Sign Up</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">My Profile</a>
                        <a class="dropdown-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                           href="#">Admin Dashboard</a>
                        <a class="dropdown-item" th:if="${#authorization.expression('hasRole(''ROLE_CAR_OWNER'')')}"
                           th:href="@{'car-owner/view-list-car/' + ${id}}">My Car</a>
                        <a class="dropdown-item" th:if="${#authorization.expression('hasRole(''ROLE_CUSTOMER'')')}"
                           href="#">My Booking</a>
                        <a class="dropdown-item" th:if="${#authorization.expression('hasRole(''ROLE_CAR_OWNER'')')}"
                           href="#">My Report</a>
                        <a class="dropdown-item" th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                           th:href="@{/vnpay/view-wallet}">My Wallet</a>
                        <div class="dropdown-divider"></div>
                        <a id="logoutBtn" class="dropdown-item" th:href="@{/logout}">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script th:inline="javascript">
    /*<![CDATA[*/
    window.location.href = "[[${paymentUrl}]]";
    /*]]>*/
</script>