<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>RentN'Go</title>
    <th:block th:insert="~{fragments/styles.html :: headFragment}"></th:block>
</head>

<style>
    .checked {
        color: orange;
    }
</style>

<body>
<header th:insert="~{fragments/header.html :: header}"></header>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#">My car</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit details</li>
    </ol>
</nav>


<div class="container-fluid bg-white mt-4">
    <h3 class="profile-header">Car details</h3>
</div>

<div class="container-fluid bg-white mt-4">
    <div class="row justify-content p-4">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="car-image.jpg" class="card-img" alt="Car Image">
                    </div>
                    <div class="col-md-6 align-self-center">
                        <div class="card-body">
                            <h3 class="card-title" ><b th:text="${car.name}"></b></h3>
                            <ul class="list-unstyled">
                                <li><b>Rating:</b>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </li>
                                <li ><b th:text="'No. of Rides: ' + ${car.numberOfSeats}"></b></li>
                                <li ><b th:text="'Price: $' + ${car.basePrice}+ '/day' "></b></li>
                                <li ><b th:text="'Location: ' + ${car.address}"></b></li>
                                <li><b>Status: Available</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="w3-container">
    <div class="w3-bar w3-light-grey">
        <button class="w3-bar-item w3-button tablink w3-grey" onclick="changeTab(event,'firstTabBtn')">Basic Information</button>
        <button class="w3-bar-item w3-button tablink" onclick="changeTab(event,'secondTabBtn')">Details</button>
        <button class="w3-bar-item w3-button tablink" onclick="changeTab(event,'thirdTabBtn')">Term of use</button>

    </div>
    <!--Tab 1: car information-->
    <div id="firstTabBtn" class="w3-container city">
        <div class="row justify-content p-4">
            <div class="col-md-6">
                <div class="mb-3">
                    <strong>License plate: </strong>
                    <span class="fw-bold" th:text="${car.licensePlate}"></span>
                </div>
                <div class="mb-3">
                    <strong>Brand name:</strong>
                    <span class="fw-bold" th:text="${car.brand}"></span>
                </div>
                <div class="mb-3">
                    <strong>Production year:</strong>
                    <span class="fw-bold" th:text="${car.productionYear}"></span>
                </div>
                <div class="mb-3">
                    <strong>Transmission:</strong>
                    <span class="fw-bold" th:text="${car.transmissionType}"></span>
                </div>
                <hr>
                <strong>Document</strong>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Note</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Registration paper</td>
                        <td id="Registration">Not available</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Certificate of inspection</td>
                        <td id="Certificate">Not available</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Insurance</td>
                        <td id="Insurance">Not available</td>
                    </tr>
                    </tbody>
                </table>
                <span class="text-muted">Note: Documents will be available for viewing after you've paid the deposit to rent</span>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <strong>Color:</strong>
                    <span class="fw-bold" th:text="${car.color}"></span>
                </div>
                <div class="mb-3">
                    <strong>Model:</strong>
                    <span class="fw-bold" th:text="${car.model}"></span>
                </div>
                <div class="mb-3">
                    <strong>No. of seats:</strong>
                    <span class="fw-bold" th:text="${car.numberOfSeats}"></span>
                </div>
                <div class="mb-3">
                    <strong>Fuel:</strong>
                    <span class="fw-bold" th:text="${car.fuelType}"></span>
                </div>
            </div>
        </div>
    </div>

    <!--Tab 2: car detail-->
    <div id="secondTabBtn" class="w3-container city" style="display:none">
        <br>
        <div class="mb-3">
            <strong>Mileage: </strong>
            <span class="fw-bold" th:text="${car.mileage}"></span><br/>
        </div>
        <div class="mb-3">
            <strong>Fuel consumption: </strong>
            <span class="fw-bold" th:text="${car.fuelType}"></span><br/>
        </div>
        <div class="mb-3">
            <strong>Address: </strong>
            <span class="fw-bold" th:text="${car.address}"></span><br/>
            <span class="text-muted">Note: Full Address will be available after you've paid the deposit to rent</span>
        </div>
        <div class="mb-3">
            <strong>Description: </strong><br/>
            <span th:text="${car.description}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat non itaque minima voluptatum eligendi consectetur sint odit! Adipisci vitae fugit doloribus
    sunt, culpa numquam minima ab. Ad rem pariatur architecto?</span>
        </div>
        <hr>
        <div class="mb-3">
            <strong>Additional functions: </strong><br/>
            <table class="table">
                <tr>
                    <td>Bluetooth</td>
                    <td><input type="checkbox"></td>
                    <td>Sun Roof</td>
                    <td><input type="checkbox"></td>
                    <td>DVD</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>GPS</td>
                    <td><input type="checkbox"></td>
                    <td>Child Lock</td>
                    <td><input type="checkbox"></td>
                    <td>USB</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Camera</td>
                    <td><input type="checkbox"></td>
                    <td>Child Seat</td>
                    <td><input type="checkbox"></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <!--Tab 3: car pricing-->
    <div id="thirdTabBtn" class="w3-container city" style="display:none">
        <br>
        <div class="mb-3">
            <strong>Base price:</strong>
            <span class="fw-bold" th:text="${car.basePrice}"></span>
            <span>VND/Day</span>
        </div>
        <div class="mb-3">
            <strong>Request deposit:</strong>
            <span class="fw-bold" th:text="${car.deposit}"></span>
            <span>VND/Day</span>
        </div>
        <hr>
        <div class="col-md-6">
            <strong>Terms of use:</strong>
            <table class="table">
                <tr>
                    <td>
                        <strong>No Smoking</strong>
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>No Pet</strong>
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>No Food</strong>
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Other</strong>
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<footer th:insert="~{fragments/footer.html :: footer}"></footer>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        // Lấy giá trị của carOption từ model.addAttribute("carOption",carOption);
        var carOptionString = [[${carOption}]];
        var carTermString = [[${carTerm}]];
        var carRegistrationPaper = [[${carRegistrationPaper}]];
        var carCertificateOfInspection = [[${carCertificateOfInspection}]];
        var carInsurance = [[${carInsurance}]];
        console.log(carRegistrationPaper,carCertificateOfInspection,carInsurance)
        if(carRegistrationPaper !== null){
            document.getElementById("Registration").innerHTML = "Available";
        }
        if(carCertificateOfInspection !== null){
            document.getElementById("Certificate").innerHTML = "Available";
        }
        if(carInsurance !== null){
            document.getElementById("Insurance").innerHTML = "Available";
        }
        var carOptions = carOptionString.split(",");
        var carTerm = carTermString.split(",");
        console.log(carOptions);
        console.log(carTerm);
        var checkboxes = document.querySelectorAll("input[type='checkbox']");
        checkboxes.forEach(function(checkbox) {
            if (carOptions.includes(checkbox.parentElement.previousElementSibling.textContent.trim())) {
                checkbox.checked = true;
            }
            if (carTerm.includes(checkbox.parentElement.previousElementSibling.textContent.trim())) {
                checkbox.checked = true;
            }
        });
    });

</script>

<script>
    function changeTab(evt, tab) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-grey", "");
        }
        document.getElementById(tab).style.display = "block";
        evt.currentTarget.className += " w3-grey";
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
