<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Profile</title>
    <th:block th:insert="~{fragments/styles.html :: headFragment}"></th:block>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>


<style>
    html {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .w3-container {
        flex: 1; /* This will make it take up remaining space */
    }

    footer {
        flex-shrink: 0; /* Prevents footer from shrinking */
    }
</style>
<body>

<header th:insert="~{fragments/header.html :: header}"></header>

<!-- start breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
</nav>

<div class="w3-container">
    <h2>My profile</h2>
    <div class="w3-bar w3-light-grey">
        <button class="w3-bar-item w3-button tablink w3-grey" onclick="changeTab(event,'firstTabBtn')">Personal information</button>
        <button class="w3-bar-item w3-button tablink" onclick="changeTab(event,'secondTabBtn')">Security</button>

    </div>
    <!--Tab 1: car owner list-->
    <div id="firstTabBtn" class="w3-container tabChange">
        <form method="post" role="form"
              th:action="@{/update-user-profile}"
              th:object="${updateProfileDto}">
            <div class="row justify-content-between p-4">
                <div class="col-md-5">
                    <!-- Detail Information -->
                    <div class="form-group row">
                        <div class="col-md-6">
                            <input type="hidden" name="id" th:field="*{id}"/>
                            <input type="hidden" name="role" th:field="*{role}"/>
                            <strong>Full name:</strong><br>
                            <input class="form-control" type="text" name="name" th:field="*{name}"/>
                            <p th:errors="*{name}" class="text-danger"
                               th:if="${#fields.hasErrors('name')}"></p>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <strong>Phone number</strong><br/>
                            <input class="form-control" type="text" name="phone" th:field="*{phone}"/>
                            <p th:errors="*{phone}" class="text-danger"
                               th:if="${#fields.hasErrors('phone')}"></p>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <strong>National ID No</strong><br/>
                            <input class="form-control" type="text" name="nationalId" th:field="*{nationalId}"/>
                            <p th:errors="*{nationalId}" class="text-danger"
                               th:if="${#fields.hasErrors('nationalId')}"></p>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-8">
                            <!-- City -->
                            <input type="hidden" id="city-input" th:value="*{city}">
                            <label for="city"><strong>Address</strong></label><br>
                            <select id="city" name="city" th:field="*{city}" class="form-control">
                                <option value="" selected hidden>City</option>
                            </select>
                            <p th:errors="*{city}" class="text-danger" th:if="${#fields.hasErrors('city')}"></p>
                            <br>

                            <!-- District -->
                            <input type="hidden" id="district-input" th:value="*{district}">
                            <select id="district" name="district" th:field="*{district}" class="form-control">
                                <option value="" selected hidden>District</option>
                            </select>
                            <p th:errors="*{district}" class="text-danger" th:if="${#fields.hasErrors('district')}"></p>
                            <br>

                            <!-- Ward -->
                            <input type="hidden" id="ward-input" th:value="*{ward}">
                            <select id="ward" name="ward" th:field="*{ward}" class="form-control">
                                <option value="" selected hidden>Ward</option>
                            </select>
                            <p th:errors="*{ward}" class="text-danger" th:if="${#fields.hasErrors('ward')}"></p>

                            <br>

                            <input type="text" class="form-control" id="house-number-and-street" th:field="*{houseNumberAndStreet}" placeholder="House number, Street">
                            <p th:errors="*{houseNumberAndStreet}" class="text-danger" th:if="${#fields.hasErrors('houseNumberAndStreet')}"></p>
                        </div>
                        <div class="col-md-6">
                            <!-- Your content for the second column goes here if needed -->
                        </div>
                    </div>



                </div>
                <div class="col-md-5">
                    <!-- Additional Functions -->
                    <div class="form-group row">
                        <div class="col-md-6">
                            <strong>Date of birth</strong><br/>
                            <input class="form-control" type="date" name="dateOfBirth" th:field="*{dateOfBirth}"/>
                            <p th:errors="*{dateOfBirth}" class="text-danger"
                               th:if="${#fields.hasErrors('dateOfBirth')}"></p>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <strong>Email Address</strong><br/>
                            <input class="form-control" type="hidden" name="email" th:field="*{email}"/>
                            <div class="border border-secondary rounded p-1">
                                <span th:text="*{email}" class="p-2"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <strong>Driving license</strong><br/>
                            <input class="form-control" type="text" name="drivingLicense" th:field="*{drivingLicense}"/>
                            <p th:errors="*{drivingLicense}" class="text-danger"
                               th:if="${#fields.hasErrors('drivingLicense')}"></p>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="reset" class="btn btn-secondary">Discard</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <br>
        </form>
    </div>
    <!--Tab 2: User list-->
    <div id="secondTabBtn" class="w3-container tabChange" style="display:none">
        <form>
            <div class="row justify-content p-4">
                <div class="col-md-5">
                    <h4><b>Reset Password</b></h4>
                    <!-- Detail Information -->
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="newPasswordInput">New Password:</label>
                            <input type="password" id="newPasswordInput" class="form-control">
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="confirmPasswordInput">Confirm Password:</label>
                            <input type="password" id="confirmPasswordInput" class="form-control">
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="reset" class="btn btn-secondary">Discard</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <br>
        </form>
    </div>

</div>

<footer th:insert="~{fragments/footer.html :: footer}"></footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script th:inline="javascript">
    function changeTab(evt, tab) {
        var i, x, tablinks;
        x = document.getElementsByClassName("tabChange");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-grey", "");
        }
        document.getElementById(tab).style.display = "block";
        evt.currentTarget.className += " w3-grey";
    }

    let city = [[${updateProfileDto.city}]];
    let district = [[${updateProfileDto.city}]];
    let ward = [[${updateProfileDto.city}]];


    let cities = document.getElementById('city');
    let districts = document.getElementById('district');
    let wards = document.getElementById('ward');
    let Parameter = {
        url: 'https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json',
        method: 'GET',
        responseType: 'application/json',
    };
    let promise = axios(Parameter);
    promise.then(function (result) {
        renderCity(result.data);
    });

    function renderCity(data) {
        // Render options for cities
        for (const x of data) {
            cities.options[cities.options.length] = new Option(x.Name, x.Name);
        }

        // Select city based on value from updateProfileDto
        let cityValue = [[${updateProfileDto.city}]];
        if (cityValue) {
            cities.value = cityValue;
        }

        // Render districts for selected city
        cities.onchange = function () {
            districts.length = 1;
            wards.length = 1;
            if (this.value != "") {
                const result = data.find(n => n.Name === this.value);
                if (result) {
                    for (const k of result.Districts) {
                        districts.options[districts.options.length] = new Option(k.Name, k.Name);
                    }
                }
            }
        };

        // Select district based on value from updateProfileDto
        let districtValue = [[${updateProfileDto.district}]];
        if (districtValue) {
            cities.dispatchEvent(new Event('change')); // Trigger change event to render districts
            setTimeout(() => { // Wait for districts to render
                districts.value = districtValue;
                districts.dispatchEvent(new Event('change')); // Trigger change event to render wards
            }, 0);
        }

        // Render wards for selected district
        districts.onchange = function () {
            wards.length = 1;
            const selectedCity = data.find((n) => n.Name === cities.value);
            if (this.value != "") {
                const selectedDistrict = selectedCity.Districts.find(n => n.Name === this.value);
                if (selectedDistrict) {
                    for (const w of selectedDistrict.Wards) {
                        wards.options[wards.options.length] = new Option(w.Name, w.Name);
                    }
                }
            }
        };

        // Select ward based on value from updateProfileDto
        let wardValue = [[${updateProfileDto.ward}]];
        if (wardValue) {
            cities.dispatchEvent(new Event('change')); // Trigger change event to render districts
            setTimeout(() => { // Wait for districts to render
                districts.dispatchEvent(new Event('change')); // Trigger change event to render wards
                setTimeout(() => { // Wait for wards to render
                    wards.value = wardValue;
                }, 0);
            }, 0);
        }
    }
</script>


</body>
</html>
