<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RentN'Go</title>
    <th:block th:include="fragments/styles.html :: headFragment"></th:block>
</head>

<style>
    .vertical-line {
        border-left: 1px solid #ccc;
        height: 100%;
    }
</style>
<body>

<header th:insert="~{fragments/header.html :: header}"></header>

<!--Reset Password-->
<div class="container-fluid mt-5">
    <div class="row justify-content-end">
        <div class="col-md-12">
            <div class="text-right">
                <button type="button" class="btn btn-outline-dark btn-sm rounded-circle" aria-label="Close" onclick="redirectToHomepage()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row justify-content-between p-4">
        <div class="col-md-12">
            <div class="col-md-6 mx-auto">
                <h4 class="mb-4"><b>Reset Password</b></h4>
                <p>Enter email address associated with your account,
                    and we'll email you with a link to reset password.</p>
                <form method="post" role="form" th:action="@{/home/check-existed-email}" th:object="${userDto}" onsubmit="showPopup(); return false;">
                    <div class="form-group">
                        <label for="checkEmail"></label>
                        <input type="email" th:field="*{email}" class="form-control" id="checkEmail"  placeholder="Enter your email address">
                        <p th:errors="*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}"></p>
                    </div>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary text-center">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                If this email exist, we'll send an email with the link to reset your password.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{fragments/footer.html :: footer}"></footer>

<script>
    function redirectToHomepage() {
        window.location.href = "/home";
    }

    function showPopup() {
        $('#exampleModal').modal('show');
    }
</script>
<script th:src="@{/js/script.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
</body>
</html>