<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentN'Go</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<style>
    .card-body img {
        width: 100%;
        height: auto;
    }
    html {
        scroll-behavior: smooth;
    }
</style>
<body>

<header th:insert="~{fragments/header.html :: header}"></header>

<div th:if="${param.logout}">
    <div class="alert alert-success"> You have been logged out.</div>
</div>

<div class="container-fluid py-4">
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded">
                <h2>Looking for a vehicle?</h2>
                <h2>You're at the right place.</h2>
                <p>Choose between 100's of private car for rent at really low price</p>
                <button class="btn btn-outline-light" type="button" data-dismiss="modal" data-toggle="modal" data-target="#signupModal">Find a Rental Car Near You</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded">

                <br><br>
                <h2>Are you a car owner?</h2>
                <p>List your car and make money from
                    your asset today!.</p>
                <button class="btn btn-outline-secondary" type="button" data-dismiss="modal" data-toggle="modal" data-target="#signupModal">List Your Car Today</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5" id="why-us-section">
    <div class="row">
        <div class="col-md-12 mb-4">
            <h2 class="text-center mb-4">Why To Choose Us?</h2>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <i class="fas fa-money-bill-wave fa-3x mb-3"></i>
                    <h5 class="card-title">Save Money</h5>
                    <p class="card-text text-center">We have no setup or registration fees. You are only charged when you rent
                        a car. So get started for FREE!</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <i class="fas fa-car fa-3x mb-3"></i>
                    <h5 class="card-title">Convenient</h5>
                    <p class="card-text text-center">We have a large selection of privately owned cars to suit your needs
                        throughout the country</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <i class="fas fa-clipboard-check fa-3x mb-3"></i>
                    <h5 class="card-title">Legal and Insurance</h5>
                    <p class="card-text text-center">We fully cover all rentals and even provide roadside assistance. Our
                        rating system and extended member profile checks provide safety.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <i class="fas fa-headset fa-3x mb-3"></i>
                    <h5 class="card-title">24/7 Support</h5>
                    <p class="card-text text-center">Our team is ready to support you all along the way with our 24/7 hotline and
                        services</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 mb-4">
            <h2 class="text-center mb-4">What People Say About Us</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <i class="fas fa-user-circle fa-3x mr-3"></i>
                        <div>
                            <h5 class="card-title mb-0">John Doe</h5>
                            <small>Customer</small>
                        </div>
                    </div>
                    <p class="card-text">"Ahihi"</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <i class="fas fa-user-circle fa-3x mr-3"></i>
                        <div>
                            <h5 class="card-title mb-0">Jane Smith</h5>
                            <small>Customer</small>
                        </div>
                    </div>
                    <p class="card-text">"Ahihi"</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <i class="fas fa-user-circle fa-3x mr-3"></i>
                        <div>
                            <h5 class="card-title mb-0">Emily Johnson</h5>
                            <small>Customer</small>
                        </div>
                    </div>
                    <p class="card-text">"Ahihi"</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <i class="fas fa-user-circle fa-3x mr-3"></i>
                        <div>
                            <h5 class="card-title mb-0">Michael Brown</h5>
                            <small>Customer</small>
                        </div>
                    </div>
                    <p class="card-text">"Ahihi"</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 mb-4">
            <h2 class="text-center mb-4">Where to Find Us</h2>
        </div>
    </div>

    <div class="row">
        <!-- Location 1: Hanoi -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 rounded text-center">
                <div class="card-body">
                    <h5 class="card-title">Hanoi</h5>
                    <h6 class="card-title">80+ Cars</h6>
                    <img th:src="@{/images/banner/hanoi_image.jpg}" alt="Hanoi Image">
                </div>
            </div>
        </div>

        <!-- Location 2: Ho Chi Minh City -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 rounded text-center">
                <div class="card-body">
                    <h5 class="card-title">Ho Chi Minh City</h5>
                    <h6 class="card-title">80+ Cars</h6>
                    <img th:src="@{/images/banner/ho_chi_minh_city_image.jpg}" alt="Ho Chi Minh City Image">
                </div>
            </div>
        </div>

        <!-- Location 3: Da Nang -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 rounded text-center">
                <div class="card-body">
                    <h5 class="card-title">Da Nang</h5>
                    <h6 class="card-title">80+ Cars</h6>
                    <img th:src="@{/images/banner/da_nang_image.jpg}" alt="Da Nang Image">
                </div>
            </div>
        </div>

        <!-- Location 4: Nha Trang -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 rounded text-center">
                <div class="card-body">
                    <h5 class="card-title">Nha Trang</h5>
                    <h6 class="card-title">80+ Cars</h6>
                    <img th:src="@{/images/banner/nha_trang_image.jpg}" alt="Nha Trang Image">
                </div>
            </div>
        </div>

        <!-- Location 5: Da Lat -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 rounded text-center">
                <div class="card-body">
                    <h5 class="card-title">Da Lat</h5>
                    <h6 class="card-title">80+ Cars</h6>
                    <img th:src="@{/images/banner/da_lat_image.jpg}" alt="Da Lat Image">
                </div>
            </div>
        </div>

        <!-- Location 6: Quang Ninh -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 rounded text-center">
                <div class="card-body">
                    <h5 class="card-title">Quang Ninh</h5>
                    <h6 class="card-title">80+ Cars</h6>
                    <img th:src="@{/images/banner/quang_ninh_image.jpg}" alt="Quang Ninh Image">
                </div>
            </div>
        </div>
    </div>


</div>


<footer class="bg-secondary text-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <h5>RENT CAR</h5>
                <ul class="list-unstyled">
                    <li><a href="#" data-toggle="modal" data-target="#loginModal" class="text-light">Search Cars and Rates</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>CUSTOMER ACCESS</h5>
                <ul class="list-unstyled">
                <li><a href="#" data-toggle="modal" data-target="#loginModal" class="text-light">Manage My Booking</a></li>
                <li><a href="#" data-toggle="modal" data-target="#loginModal" class="text-light">My Wallet</a></li>
                <li><a href="#" data-toggle="modal" data-target="#loginModal" class="text-light">My Car</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>JOIN US</h5>
                <ul class="list-unstyled">
                    <li><a href="#" data-toggle="modal" data-target="#signupModal" class="text-light">New User Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-light text-dark text-center py-3">
        <p class="mb-0">&copy; 2024 Your Company. All rights reserved.</p>
    </div>
</footer>

<script>
    function toggleButtons() {
        var hiddenButtons = document.getElementById("hiddenButtons");
        if (hiddenButtons.style.display === "none") {
            hiddenButtons.style.display = "block";
        } else {
            hiddenButtons.style.display = "none";
        }
    }

    //Auto fill account
    function autoFill(role) {
        var emailInput = document.getElementById("loginUsername");
        var passwordInput = document.getElementById("loginPassword");

        switch (role) {
            case 'admin':
                emailInput.value = "admin";
                passwordInput.value = "123";
                break;
            case 'user':
                emailInput.value = "";
                passwordInput.value = "";
                break;
            case 'carOwner':
                emailInput.value = "";
                passwordInput.value = "";
                break;
            default:
                break;
        }
    }

    //Sign up when error
    $(document).ready(function () {
        $('#signupLinkWhenError').trigger('click');
    });
</script>

<script th:src="@{/js/script.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
