<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RentN'Go</title>
    <th:block th:insert="~{fragments/styles.html :: headFragment}"></th:block>
</head>
<style>
    .checked {
        color: orange;
    }

    img {
        height: 350px;
        object-fit: cover;
    }
</style>
<body>

<header th:insert="~{fragments/header.html :: header}"></header>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Search result</li>
    </ol>
</nav>

<div class="container-fluid py-4">
    <div class="p-5 mb-4 bg-secondary border rounded text-light">
        <form id="searchForm">
            <div class="form-group">
                <label for="pickupLocation">Pickup Location</label>
                <input type="text" class="form-control" id="pickupLocation" placeholder="Enter pickup location">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="pickupDate">Pickup Date</label>
                    <input type="date" class="form-control" id="pickupDate">
                </div>
                <div class="form-group col-md-6">
                    <label for="pickupTime">Pickup Time</label>
                    <input type="time" class="form-control" id="pickupTime">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="dropOffDate">Drop-off Date</label>
                    <input type="date" class="form-control" id="dropOffDate">
                </div>
                <div class="form-group col-md-6">
                    <label for="dropOffTime">Drop-off Time</label>
                    <input type="time" class="form-control" id="dropOffTime">
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <div class="text-center">
                            <button type="submit" class="btn btn-light btn-block">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Search Results Section -->
<div class="container-fluid bg-white mt-4">
    <div class="row p-4">
        <!-- Search Result Header -->
        <div class="col-md-12">
            <h3>Search Results</h3>
            <p th:text="${'There are ' + carList.size() + ' cars available for you.'}"></p>
            <div class="d-flex justify-content-end">
                <!-- View Options Buttons -->
                <button class="btn btn-light mr-2 active" id="thumbnailViewBtn"><i class="fas fa-th"></i></button>
                <button class="btn btn-light" id="listViewBtn"><i class="fas fa-list"></i></button>

            </div>
        </div>
        <!-- Search Results Content (Thumbnail View) -->
        <div class="col-md-12 mt-4" id="thumbnailView">
            <div class="row">
                <div class="col-md-12 mb-3" th:each="car : ${carList}">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                            class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img th:src="${car.carImage.frontImagePath}" class="card-img"
                                                 alt="Front Image">
                                        </div>
                                        <div class="carousel-item">
                                            <img th:src="${car.carImage.leftImagePath}" class="card-img"
                                                 alt="Left Image">
                                        </div>
                                        <div class="carousel-item">
                                            <img th:src="${car.carImage.backImagePath}" class="card-img"
                                                 alt="Back Image">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                       data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                       data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 align-self-center">
                                <div class="card-body">
                                    <h2 class="card-title font-weight-bold" th:text="${car.name}">Car Name</h2>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td>Rating:</td>
                                            <td><i class="fas fa-star"></i></td>
                                        </tr>
                                        <tr>
                                            <td>No of ride:</td>
                                            <td th:text="${car.numberOfSeats}"></td>
                                        </tr>
                                        <tr>
                                            <td>Price:</td>
                                            <td th:text="${#numbers.formatDecimal(car.basePrice, 0, 'COMMA', 0, 'POINT')} + 'VND'"></td>
                                        </tr>
                                        <tr>
                                            <td>Location:</td>
                                            <td style="width: 550px" th:text="${car.address}"></td>
                                        </tr>
                                        <tr>
                                            <td>Status:</td>
                                            <td style="color: #70ba7c">Available</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex align-items-center justify-content-center">
                                <div class="d-flex flex-column align-items-center">
                                    <a th:href="@{/customer/rent-car/{id}(id=${car.id})}"
                                       class="btn btn-primary btn-sm mb-2">Rent now</a>
                                    <a th:href="@{/customer/display-car-detail/{id}(id=${car.id})}"
                                       class="btn btn-secondary btn-sm mb-2">View Details</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Search Results Content (List View) -->
        <div class="col-md-12 mt-4" id="listView" style="display: none;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Rating</th>
                    <th scope="col">No. of Rides</th>
                    <th scope="col">Price</th>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car : ${carList}">
                    <th scope="row" th:text="${car.id}"></th>
                    <td th:text="${car.name}">Car Name</td>
                    <td><img th:src="${car.carImage.leftImagePath}" alt="Car Image" style="max-width: 120px; max-height: 80px;"></td>
                    <td>No ratings</td>
                    <td th:text="${car.numberOfSeats}">100</td>
                    <td th:text="${#numbers.formatDecimal(car.basePrice, 0, 'COMMA', 0, 'POINT')} + 'VND'">$50</td>
                    <td th:text="${car.address}">City, Country</td>
                    <td>Available</td>
                    <td>
                        <button class="btn btn-primary btn-sm">Rent Now</button>
                        <br>
                        <button class="btn btn-secondary btn-sm">View Details</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Paging -->
        <div class="col-md-12 mt-4">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<footer th:insert="~{fragments/footer.html :: footer}"></footer>

<script th:src="@{/js/script.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    //Change between thumbnail view and list view
    const thumbnailViewBtn = document.getElementById('thumbnailViewBtn');
    const listViewBtn = document.getElementById('listViewBtn');
    const thumbnailView = document.getElementById('thumbnailView');
    const listView = document.getElementById('listView');

    thumbnailViewBtn.addEventListener('click', () => {
        thumbnailView.style.display = 'block';
        listView.style.display = 'none';
        thumbnailViewBtn.classList.add('active');
        listViewBtn.classList.remove('active');
    });

    listViewBtn.addEventListener('click', () => {
        thumbnailView.style.display = 'none';
        listView.style.display = 'block';
        thumbnailViewBtn.classList.remove('active');
        listViewBtn.classList.add('active');
    });
</script>

</body>
</html>
