<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RentN'Go</title>
    <th:block th:insert="~{fragments/styles.html :: headFragment}"></th:block>
</head>
<style>
    html {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    .w3-container {
        flex: 1;
    }

    footer {
        flex-shrink: 0;
    }
</style>
<body>

<header th:insert="~{fragments/header.html :: header}"></header>

<div class="w3-container">
    <h2>Manage user</h2>
    <div class="w3-bar w3-light-grey">
        <button class="w3-bar-item w3-button tablink w3-grey" onclick="changeTab(event,'firstTabBtn')">Car Owner List</button>
        <button class="w3-bar-item w3-button tablink" onclick="changeTab(event,'secondTabBtn')">Customer List</button>

    </div>
    <!--Tab 1: car owner list-->
    <div id="firstTabBtn" class="w3-container city">
        <div class="row justify-content p-4">
            <div>
                <h3>Manage car owner</h3>
                <p>There are <span th:text="${carOwnerList.size()}"></span> car owners available.</p>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${carOwnerList.isEmpty()}">
                    <td colspan="6">No car owner available.</td>
                </tr>
                <tr th:each="carOwner : ${carOwnerList}">
                    <td th:text="${carOwner.user.id}"></td>
                    <td th:text="${carOwner.name}"></td>
                    <td th:text="${carOwner.email}"></td>
                    <td th:text="${carOwner.phone}"></td>
                    <td>
                        <a th:href="@{/admin/view-car-owner-detail(id=${carOwner.id})}" class="btn btn-secondary btn-sm">View Details</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Tab 2: User list-->
    <div id="secondTabBtn" class="w3-container city" style="display:none">
        <div class="row justify-content p-4">
            <div>
                <h3>Manage customer</h3>
                <p>There are <span th:text="${customerList.size()}"></span> customers available.</p>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${customerList.isEmpty()}">
                    <td colspan="6">No customer available.</td>
                </tr>
                <tr th:each="customer : ${customerList}">
                    <td th:text="${customer.user.id}"></td>
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.phone}"></td>
                    <td>
                        <a th:href="@{/admin/view-customer-detail(id=${customer.id})}" class="btn btn-secondary btn-sm">View Details</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<footer th:insert="~{fragments/footer.html :: footer}"></footer>

<script>
    function changeTab(evt, tab) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-grey", "");
        }
        document.getElementById(tab).style.display = "block";
        evt.currentTarget.className += " w3-grey";
    }

</script>

<script th:src="@{/js/script.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
</body>
</html>
