<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>RentN'Go</title>
    <th:block th:include="~{fragments/styles.html :: headFragment}"></th:block>
</head>

<body>

<header th:insert="~{fragments/header.html :: header}"></header>

<!-- View Wallet -->
<div class="container mt-5">
    <h1>My Wallet</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <h2>
                Your current balance:
                <span id="balance" style="color: green" th:text="*{wallet}"></span>
            </h2>
        </div>
        <div class="col-md-6">
            <button
                    type="button"
                    class="btn btn-warning mr-2"
                    onclick="openWithdrawModal()"
            >
                Withdraw
            </button>
            <button
                    type="button"
                    class="btn btn-success mr-2"
                    onclick="openTopupModal()"
            >
                Top-up
            </button>
        </div>
    </div>
</div>
<!-- Top-up Dialog -->
<div
        class="modal fade"
        id="topupModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="topupModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="topupModalLabel">Top-up</h5>
                <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/vnpay/submit-order}" method="post">
                <div class="modal-body">
                    <p>Please select the amount to top-up to your wallet.</p>
                    <input type="hidden" name="transactionType" value="Top-up">
                    <div class="form-group">
                        <label for="top-up-amount">Amount:</label>
                        <select class="form-control" id="top-up-amount" name="amount">
                            <option value="2000000">2,000,000</option>
                            <option value="5000000">5,000,000</option>
                            <option value="10000000">10,000,000</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="confirmTopupBtn">
                        OK
                    </button>
                    <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                    >
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Withdraw dialog -->
<div
        class="modal fade"
        id="withdrawModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="withdrawModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="withdrawModalLabel">Withdraw</h5>
                <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <p>
                        Your current balance is <span id="currentBalanceWithdraw"></span>.
                        Please select the amount to withdraw from your wallet.
                    </p>
                    <input type="hidden" name="transactionType" value="Withdraw">
                    <div class="form-group">
                        <label for="withdraw-amount">Amount:</label>
                        <select class="form-control" id="withdraw-amount" name="amount">
                            <option value="2000000">2,000,000</option>
                            <option value="5000000">5,000,000</option>
                            <option value="10000000">10,000,000</option>
                            <option value="all">All balance</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                            type="button"
                            class="btn btn-primary"
                            id="confirmWithdrawBtn"
                    >
                        OK
                    </button>
                    <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                    >
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Transaction Section -->
<div class="container mt-5">
    <!-- Section Title -->
    <h2>Transaction</h2>

    <!-- Search Form -->
    <form class="mt-4 mb-4">
        <div class="row">
            <div class="col-md-3">
                <label for="fromDate">From:</label>
                <input type="date" id="fromDate" class="form-control"/>
            </div>
            <div class="col-md-3">
                <label for="toDate">To:</label>
                <input type="date" id="toDate" class="form-control"/>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary mt-4">Search</button>
            </div>
        </div>
    </form>

    <!-- Transaction Table -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No.</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Date Time</th>
                <th>Booking No.</th>
                <th>Car Name</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${paymentHistoryList.isEmpty()}">
                <td colspan="7">No payment history available.</td>
            </tr>
            <tr th:each="paymentHistory : ${paymentHistoryList}">
                <td th:text="${paymentHistory.getId()}"></td>
                <td th:text="${#numbers.formatDecimal(paymentHistory.getAmount(), 0, 'COMMA', paymentHistory.getAmount() % 1 == 0 ? 0 : 2, 'POINT')}"></td>
                <td th:text="${paymentHistory.getType()}"></td>
                <td th:text="${paymentHistory.getCreateDate()}"></td>
                <td th:text="${paymentHistory.getBooking() != null ? paymentHistory.getBooking().getId() : 'N/A'}"></td>
                <td th:text="${paymentHistory.getBooking() != null && paymentHistory.getBooking().getCar() != null ? paymentHistory.getBooking().getCar().getBrand() : 'N/A'}"></td>
                <td th:text="${paymentHistory.getNote()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="mt-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                    >Previous</a
                    >
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<footer th:insert="~{fragments/footer.html :: footer}"></footer>
<script>
    function openTopupModal() {
        $("#topupModal").modal("show");
    }
</script>
<script>
    function openWithdrawModal() {
        var currentBalance = document.getElementById("balance").innerText;
        document.getElementById("currentBalanceWithdraw").innerText =
            currentBalance;
        $("#withdrawModal").modal("show");
    }
</script>
<script th:src="@{/js/script.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
</body>
</html>
